<h1>Create a new reading list</h1>

<% if @list.errors.any? %>
    <ul>
        <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for(@list) do |f| %>

    <%= f.label :title %><br>
    <%= f.text_field :title %><br>

    <%= f.label :description %><br>
    <%= f.text_area :description %><br>

    <%= f.label "select a genre for the list" %>
    <%= f.collection_select :genre_ids, Genre.all, :id, :name, include_blank: true %><br>

    <p>Create a new genre: 
        <%= f.fields_for :genre do |g| %>
        <%= g.text_field :name %>
        <% end %>
    </p>

    <%= f.submit %>




<% end %>