<h2>List Title: <%= @list.title %></h2>
   
<h2>List Description: <%= @list.description %></h2>

<% if @list.reader == current_reader %>
    <li><%= link_to "Edit this list", edit_list_path(@list) %></li>
    <li><%= link_to "Delete this list", list_path(@list), method: :delete, data: { confirm: "Are you sure to delete this list?"} %></li>
<% end %>

<h2>Books in this list</h2>
    <% @list.books.each do |book| %>
        <p>
            <strong>Book title: </strong>
            <%= book.title %>
        </p>
        <p>
            <strong>Book author: </strong>
            <%= book.author %>
        </p>
        <p>
            <strong>Note: </strong>
            <%= book.note %>
        </p>
    <% end %>

<% if @list.reader == current_reader %>
<h2>Add a book to this list</h2>
    <%= form_for @list.books.build do |form| %>
        <%= form.hidden_field :list_id %>

        <p>
            <%= form.label :title %>
            <%= form.text_field :title%>
        </p>
        <p>
            <%= form.label :author %>
            <%= form.text_field :author %>
        </p>
        <p>
            <%= form.label :note %>
            <%= form.text_field :note %>
        </p>
        <p>
            <%= form.submit "Create a book" %>
        </p>
    <% end %>
<% end %>


