<section>
    <header>
        <h1>Sign in</h1>
        <%= form_for @reader do |f| %>
            <%= f.label :username %>
            <%= f.text_field :username %>
                <br><br>
            <%= f.label :email %>
            <%= f.email_field :email %>
                <br><br>
            <%= f.label :password %>
            <%= f.password_field :password %>
                <br><br>
            <%= f.submit "Sign in"%>
        <% end %>
    </header>

    <footer>
    </footer>
</section>

