<% if @list %>
    <h1>Books for <%= @list.title %></h1>
<% else %>
    <h1>All books</h1>
<% end %>

<ul>
    <% @books.each do |book| %>
        <li>Book title: <%= link_to book.title, book_path(book) %> | Author: <%= book.author %> | Note by reader: <%= book.note %> | Created by <%= book.reader.username %>.</li>
    <% end %>
</ul>
